<div *ngIf="!cartService.isEmpty">
  <h1>Cart</h1>
  Sort by:
  <select [(ngModel)]='sortField'>
      <option *ngFor="let s of sortFields" [ngValue]='s'>{{s}}</option>
  </select>
  Ascending? <input type="checkbox" [(ngModel)]="isAsc" /><br />
  <app-cart-item *ngFor="let item of cartService.getItems(sortField, isAsc)" [item]="item"></app-cart-item>
  <h3>Total products: {{cartService.totalNumber}}</h3>
  <h3>Total price: {{cartService.totalPrice | currency}}</h3>
  <button (click)="handleEmptyCart()">Empty Cart</button>
  <button (click)="handleSubmit()">Submit</button>
  <h3>{{message}}</h3>
</div>
<h3 *ngIf="message" class="message">{{message}}</h3>
<div *ngIf="cartService.isEmpty">
  Cart is empty, please <a href="" routerLink='/shop'>add some products</a>
</div>
